@model Blog_Site.ModelView.ModelViews
@{
    ViewData["Title"] = "Giriş Yap";
}

<h1>Giriş Yap</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>
            <div class="form-group">
                <label asp-for="UserRegister.Email" class="control-label"></label>
                <input asp-for="UserRegister.Email" class="form-control" />
                <span asp-validation-for="UserRegister.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRegister.Password" class="control-label"></label>
                <input asp-for="UserRegister.Password" class="form-control" type="password" />
                <span asp-validation-for="UserRegister.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Giriş Yap" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <p>Hesabınız yok mu? <a asp-action="Register">Kayıt Ol</a></p>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
